<nav class="navbar navbar-light bg-primary navbar-fixed-top">
  <div class="container-fluid">
    <!--heading on the nav bar-->
    <p class="navbar-text pull-left">
      <a class="navbar-link viv-white-text" [routerLink]="['/user', userId, 'website', webid, 'page']">
        <span class="glyphicon glyphicon-menu-left"></span>
      </a>
    </p>
    <p class="navbar-text pull-left">
      <a class="navbar-band viv-white-text thick">
        <b>Widgets</b>
      </a>
    </p>
    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'website', webid, 'page', pageid, 'widget', 'new']" class="navbar-link viv-white-text">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>
<div class="container-fluid viv-top-buffer">
  <div class="viv-widget" *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.widgetType">

      <div *ngSwitchCase="'HEADING'">
        <div class="viv-toolbar">
          <a [routerLink]="['/user', userId, 'website', webid, 'page', pageid, 'widget', widget._id]">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <h1>{{widget.text}}</h1>
      </div>

      <div *ngSwitchCase="'HTML'">
        <div class="viv-toolbar">
          <a [routerLink]="['/user', userId, 'website', webid, 'page', pageid, 'widget', widget._id]">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div [innerHtml]="widget.text"></div>
      </div>

      <div *ngSwitchCase="'TEXT'">
        <div class="viv-toolbar">
          <a [routerLink]="['/user', userId, 'website', webid, 'page', pageid, 'widget', widget._id]">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div *ngIf="widget.formatted">
          <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
        </div>
        <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
               placeholder="{{widget.placeholder}}" class="form-control"/>

        <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                  rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                  class="form-control">{{widget.text}}</textarea>
        </div>


  <div *ngSwitchCase="'IMAGE'" class="viv-widget">
    <div class="viv-toolbar">
      <a [routerLink]="['/user', userId, 'website', webid, 'page', pageid, 'widget', widget._id]">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <img [style.width]="widget.width" class="viv-content" src={{widget.url}}/>
  </div>

  <div class="youtube-widget viv-footer-buffer" *ngSwitchCase="'YOUTUBE'">
    <div class="viv-toolbar">
      <a [routerLink]="['/user', userId, 'website', webid, 'page', pageid, 'widget', widget._id]">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <iframe class="viv-content"
            [style.width]="widget.width" [src]="sanitizer.bypassSecurityTrustResourceUrl(widget.url)"
            frameborder="0" allowfullscreen></iframe>
  </div>
</div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-light bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a class="viv-white-text" [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
