<nav class="navbar navbar-light bg-primary navbar-fixed-top">
  <div class="container-fluid">
    <!--heading on the nav bar-->
    <p class="navbar-text pull-left">
      <a class="navbar-link viv-white-text" href="../../views/page/page-list.html">
        <span class="glyphicon glyphicon-menu-left"></span>
      </a>
    </p>
    <p class="navbar-text pull-left">
      <a class="navbar-band viv-white-text thick">
        <b>Widgets</b>
      </a>
    </p>
    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a href="../../views/widget/widget-chooser.html" class="navbar-link viv-white-text">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>
<div class="container-fluid viv-top-buffer">
  <div class="viv-widget">
    <div class="viv-toolbar">
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
  </div>
  <h1>HULK</h1>
  <div class="viv-widget">
    <div class="viv-toolbar">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h2>SMASH ! !</h2>
  </div>
  <div class="viv-widget">
    <div class="viv-toolbar">
      <a href="widget-image.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <img class="viv-content" src="http://media.ignimgs.com/media/ign/imgs/minisites/topN/comic-book-heroes/9_Hulk.jpg"/>
  </div>
  <div class="viv-widget">
    <div class="viv-toolbar">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <p>The <b>Hulk</b> is a fictional <a href="/wiki/Superhero" title="Superhero">superhero</a> appearing in <a href="/wiki/American_comic_book" title="American comic book">American comic books</a> published by <a href="/wiki/Marvel_Comics" title="Marvel Comics">Marvel Comics</a>. Created by writer <a href="/wiki/Stan_Lee" title="Stan Lee">Stan Lee</a> and artist <a href="/wiki/Jack_Kirby" title="Jack Kirby">Jack Kirby</a>, the character first appeared in the debut issue of <i><a href="/wiki/The_Incredible_Hulk_(comic_book)" title="The Incredible Hulk (comic book)">The Incredible Hulk</a></i> (May 1962). In his comic book appearances, the character is both the Hulk, a green-skinned, hulking and muscular humanoid possessing a vast degree of physical strength, and his alter ego <b>Bruce Banner</b>, a physically weak, socially withdrawn, and emotionally reserved physicist, the two existing as personalities independent and resenting of the other.</p>
  </div>
  <div class="viv-widget viv-footer-buffer">
    <div class="viv-toolbar">
      <a href="widget-youtube.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <iframe class="viv-content" width="560" height="315" src="https://www.youtube.com/embed/udKE1ksKWDE?start=103" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-light bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a class="viv-white-text" href="../../views/user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
