<nav class="navbar navbar-light bg-primary navbar-fixed-top">
  <div class="container-fluid">
    <!--heading on the nav bar-->
    <p class="navbar-text pull-left">
      <a class="navbar-link viv-white-text" [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-menu-left"></span>
      </a>
    </p>
    <p class="navbar-text pull-left">
      <a class="navbar-band viv-white-text thick">
        <b>Websites</b>
      </a>
    </p>
    <!--plus-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'website', 'new' ]" class="navbar-link viv-white-text">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>


<div class = "container-fluid viv-top-buffer">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let website of websites">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a [routerLink]="['/user', userId, 'website', website._id , 'page']">
            {{website.name}}</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm col-md-3">
        {{website.description}}
        </div>
        <div class="col-xs-3 hidden-xs col-sm-3 col-md-3">
          {{user.username}}
        </div>
        <div class="col-xs-3">
          <a class="pull-right" [routerLink]="['/user', userId, 'website', website._id]">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- Footer -->
<nav class="navbar navbar-light bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a class="viv-white-text" [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
