<!DOCTYPE html>
<html lang="en" xmlns:z-index="http://www.w3.org/1999/xhtml">

<head><title>Vivek Nair</title></head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header navbar-fixed-top ">
      <a class="navbar-brand" href="#page-top">Vivek Nair</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="#page-top">Home</a></li>
    </ul>
    <ul class="nav navbar-nav"><li><a href="#about">About Me</a></li></ul>
    <ul class="nav navbar-nav"><li><a href="#callout">Experience</a></li></ul>
    <ul class="nav navbar-nav"><li><a href="#portfolio">Projects</a></li></ul>
    <ul class="nav navbar-nav"><li><a href="#site">Social Media</a></li></ul>

  </div>
</nav>


<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <!--<div class="viv-container ">-->
      <img class="img-circle viv-container borderimg1"  src="../../../assets/img/profile.jpeg" />
    <!--</div>-->
    <!--<br><br>-->
    <h1 class="mb-1">Vivek Nair</h1>
    <h3 class="mb-5">
      <em>A problem solver and theater enthusiast!</em>
    </h3>
    <h4>Apt 1, 1 Folsom Ave, Roxbury crossing, MA 02120 · (857) 399-5894 · nair.viv@husky.neu.edu</h4>
    <!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>-->
  </div>
  <div class="overlay"></div>
</header>

<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <h1><b>About Me</b></h1>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>What am I upto currently?</h2>
        <p class="fa-2x">I am Pursuing Master’s degree in Computer Science at Northeastern University and seeking
          internship opportunities.
          <br>
          Excited about Big data! Learning python, java and Web technologies.
        </p>
        <h2>What have I been doing?</h2>
        <p class="fa-2x"> Worked as a Mainframe developer with
          <a href="https://www.tcs.com/"> Tata Consultancy Services</a> for 6.5 years</p>
      </div>
    </div>
  </div>
</section>
<!-- Call to Action -->
<section class="content-section bg-primary text-white">
  <div class="container text-left">
    <h2 class="mb-4">Skillset</h2>
    <p class="fa-2x">
      <Strong>Languages</Strong>: &nbsp;&nbsp; SQL, Python, Java, COBOL, REXX, JCL, HTML <br>
      <Strong>Technologies:</Strong> &nbsp;&nbsp;VSAM, CICS, CSS, JavaScript, Angular JS, jQuery, Node.js, Bootstrap, MapReduce, Hadoop, Big Data, Spark<br>
      <Strong>Software:</Strong> &nbsp;&nbsp;PyCharm, Changeman, IntelliJ Idea, Webstorm, TWS, TOM, SMARTTEST, INTERTEST, IBM Debugger,<br>
      OLQ, FILEAID, Alchemist, Insync, SPUFI, PANVALET, MS/Open Office, JIRA, AWS (EC2,Elastic Beanstalk, EMR, S3), Java Spring Boot<br>
      <Strong>Databases:</Strong> &nbsp;&nbsp;Oracle, DB2, IDMS, MongoDB, MySql<br>
      <Strong>Certifications:</Strong> &nbsp;&nbsp;DB2 735 SQL Procedures, DB2 10.1 Fundamentals, Six Sigma Green Belt<br>
    </p>
  </div>
</section>

<!-- Experience -->
<section class="callout" id="callout">
  <div class="container text-left">
    <h2 class="mx-auto mb-5">Experience</h2>
    <p class="fa-2x">
    <b>Tata Consultancy Services Pvt. Ltd, Pune, MH, India (TCS)</b> <br>
      <i>I.T Analyst (June 2014 - Dec.2016)</i> <br>
      <strong>Morgan Stanley</strong><br>
    • Analysed, designed, developed, enhanced, tested and reviewed mainframe application code.<br>
    • Led a team of 6 for a year with a Client (Morgan Stanley) satisfaction Index of 93%.<br>
    • Won several awards as a team and as an individual contributor.<br><br>
      <i>Systems Engineer (June 2012 - June 2014)</i><br>
      <strong>Morgan Stanley</strong><br>
    • Created a mainframe tool in REXX for unit testing of stored procedures translating into annual savings of approx $10,000.<br>
    • Certified Six Sigma Green belt for process excellence in creating utility tool (for testing stored procedures).<br>
    • Mentored a colleague and co-created a utility tool using REXX to fetch test accounts in development environment which<br>
    translated into an annual saving of approx. $11,000.<br>
    • Mentored a colleague for Six Sigma Green belt certification.<br><br>
      <i>Asst. Systems Engineer (June 2010 - Apr. 2012)</i><br>
      <strong>Rite Aid Corp</strong><br>
    • Developed, tested and reviewed COBOL programs for extracting, formatting and transmitting data from one database to<br>
    another as a part of database conversion project.<br>
    • Awarded Appreciation Note for successful completion of project within strict deadlines.<br><br>
      <strong>ConAgra Foods</strong><br>
    • Provided maintenance and support to ConAgra Milling business application and Finance application built in Mainframe.<br>
    • Led a team of 3 to support the Finance application module.<br>
    </p>
  </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Portfolio</h3>
      <h2 class="mb-5">Recent Projects</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/viveknair89/ir-project">
              <span class="caption">
                <span class="caption-content">
                  <h2>Search Engine</h2>
                  <p class="mb-0">Built a wikipedia based search engine in python using BM25 retrieval model
        and evaluated performance using metrics such as Precision and Recall</p>
                </span>
              </span>
          <img class="img-fluid" src="../../../assets/img/search.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://food-spot.herokuapp.com/">
              <span class="caption">
                <span class="caption-content">
                  <h2>FoodSpot</h2>
                  <p class="mb-0">A web application to order online food</p>
                </span>
              </span>
          <img class="img-fluid" src="../../../assets/img/foodspot.jpeg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://nair-vivek-webdev.herokuapp.com/login">
              <span class="caption">
                <span class="caption-content">
                  <h2>Website Builder</h2>
                  <p class="mb-0">An application where users can build their own website</p>
                </span>
              </span>
          <img class="img-fluid" src="../../../assets/img/site-builder-header.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.ccs.neu.edu/cs5500/team-9">
              <span class="caption">
                <span class="caption-content">
                  <h2>Plagiarism Detector</h2>
                  <p class="mb-0">An application which detects similarity between java codes</p>
                </span>
              </span>
          <img class="img-fluid" src="../../../assets/img/plag.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Links -->
<section class="content-section bg-primary text-white text-center" id="site">
  <div class="container">
    <div class="content-section-heading">
      <h1>Connect with Me!</h1>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3" >
              <i class="icon-link"></i>
            </span>
        <h4>
          <a href="https://www.linkedin.com/in/viveknair89"><Strong style="color: white">LinkdIn</Strong></a>
        </h4>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-social-github"></i>
            </span>
        <h4>
          <a href="https://github.com/viveknair89"><Strong style="color: white">Github</Strong></a>
        </h4>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-social-facebook"></i>
            </span>
        <h4>
          <a href="https://www.facebook.com/nairvivek"><Strong style="color: white">Facebook</Strong></a>
        </h4>
      </div>
      <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
        <h4>
          <a href="https://www.facebook.com/NautankiShala/?ref=br_rs"><Strong style="color: white">Theater</Strong></a>
        </h4>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <p class="text-muted small mb-0">Copyright &copy; Vivek Nair 2017</p>
  </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script src="../../../assets/vendors/jquery/jquery.min.js"></script>
<script src="../../../assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../../../assets/vendors/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../../../assets/js/stylish-portfolio.min.js"></script>

</body>

</html>
