<form (ngSubmit) = "update()" #f ="ngForm">
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-sm-3">
        <!--heading on the nav bar-->
        <p class="navbar-text pull-left">
          <a class="navbar-link" [routerLink]="['/user', userId, 'website']">
            <span class="viv-white-text glyphicon glyphicon-menu-left"></span>
          </a>
        </p>
        <!--<div class="col-xs-3 hidden-xs col-sm-3 col-md-3">-->
        <p class="navbar-text viv-white-text caption col-sm-3 hidden-xs hidden-sm">
          <b>Websites</b>
        </p>
        <!--plus mark-->
        <p class="col-sm-1 hidden-xs hidden-sm navbar-text pull-right">
          <a [routerLink]="['/user', userId, 'website', 'new']" class="navbar-link">
            <span class="viv-white-text glyphicon glyphicon-plus"></span>
          </a>
        </p>
        <!--</div>-->
      </div>
      <div class="col-sm-9">
        <p class="navbar-text pull-left">
          <a class="navbar-band viv-white-text thick">
            <b>Edit Website</b>
          </a>
        </p>
        <!--tick mark-->
        <p class="navbar-text pull-right">
          <a (click)="update()" [routerLink] = "['/user', userId, 'website']" class="navbar-link">
            <span class="viv-white-text glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid viv-top-buffer">
  <div class="row">
    <div class="col-sm-3 hidden-xs hidden-sm">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let website of websites">
          <a [routerLink]="['/user', userId, 'website', website['_id'], 'page']">{{website['name']}}</a>
          <a [routerLink]="['/user', userId, 'website', website['_id']]" class="pull-right">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <form>
        <div class="form-group">
          <label for="name">Website Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)] ="name" value="name">
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="description">Website Description</label>
          <textarea class="form-control" name="description" id="description"
                    [(ngModel)] ="description" placeholder="description"></textarea>
        </div>
      </form>
      <a class="btn btn-danger btn-block"
         (click)= "delete()"> Delete </a>
    </div>
  </div>
</div>
</form>
<!-- Footer -->
<nav class="navbar navbar-light bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="viv-white-text glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
