<form (ngSubmit) = "create()" #f="ngForm">
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-sm-3">
        <!--heading on the nav bar-->
        <p class="navbar-text pull-left">
          <a class="navbar-link" [routerLink]="['/user', userId, 'website', webId, 'page']">
            <span class="viv-white-text glyphicon glyphicon-menu-left"></span>
          </a>
        </p>
        <!--<div class="col-xs-3 hidden-xs col-sm-3 col-md-3">-->
        <p class="navbar-text viv-white-text caption col-sm-3 hidden-xs hidden-sm">
          <b>Pages</b>
        </p>
        <!--plus mark-->
        <p class="col-sm-1 hidden-xs hidden-sm navbar-text pull-right">
          <a [routerLink]="['/user', userId, 'website', webId, 'page', 'new']" class="navbar-link">
            <span class="viv-white-text glyphicon glyphicon-plus"></span>
          </a>
        </p>
        <!--</div>-->
      </div>
      <div class="col-sm-9">
        <div>
          <p class="navbar-text pull-left">
            <a class="navbar-band viv-white-text thick">
              <b>New Page</b>
            </a>
          </p>
          <!--tick mark-->
          <p class="navbar-text pull-right">
            <a type="submit" [routerLink]="['/user', userId, 'website', webId, 'page']" class="navbar-link">
              <span class="viv-white-text glyphicon glyphicon-ok"></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid viv-top-buffer">
  <div class="row">
    <div class="col-sm-3 hidden-xs hidden-sm">
      <ul class="list-group" *ngFor="let page of pages">
        <li class="list-group-item">
          <a [routerLink]="['/user', userId, 'website', webId, 'page', page['_id'], 'widget']">{{page['name']}}</a>
          <a [routerLink]="['/user', userId, 'website', webId, 'page', page['_id']]" class="pull-right">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <form>
        <div class="form-group">
          <label for="name">Page Name</label>
          <input type="text" id="name" name="name" ngModel required #name="ngModel" class="form-control">
          <span class="help-block" *ngIf="!name.valid && name.touched">
            Please enter the Page Name!
          </span>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="description">Page Description</label>
          <textarea class="form-control" id="description" name="description" ngModel required #description="ngModel" >
          </textarea>
          <span class="help-block" *ngIf="!description.valid && description.touched">
            Please enter the page description!
          </span>
        </div>
      </form>
      <a class="btn btn-success btn-block"
         [routerLink]="['/user', userId, 'website', webId, 'page']">Cancel</a>
    </div>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-light navbar-fixed-bottom">
  <div class="container-fluid bg-primary">
    <p class="navbar-text pull-right">
      <a class="viv-white-text" [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
</form>
