<form (ngSubmit) = "update()" #f="ngForm">
<nav class="bg-primary navbar navbar-fixed-top">
  <div class="container-fluid">
    <!--<div class="row">-->
    <div class="col-sm-3 col-xs-1">
      <!--heading on the nav bar-->
      <p class="navbar-text pull-left">
        <a class="navbar-link" [routerLink]="['/user', userId, 'website', webid, 'page']">
          <span class="viv-white-text glyphicon glyphicon-menu-left"></span>
        </a>
      </p>
      <!--<div class="col-xs-3 hidden-xs col-sm-3 col-md-3">-->
      <p class="navbar-text viv-white-text caption col-sm-3 hidden-xs hidden-sm">
        <b>Pages</b>
      </p>
      <!--plus mark-->
      <p class="col-sm-1 hidden-xs hidden-sm navbar-text pull-right">
        <a [routerLink]="['/user', userId, 'website', webid, 'page', 'new']" class="navbar-link">
          <span class="viv-white-text glyphicon glyphicon-plus"></span>
        </a>
      </p>
      <!--</div>-->
    </div>
    <div class="col-sm-9">
      <p class="navbar-text pull-left">
        <a class="navbar-band viv-white-text thick">
          <b>Edit Page</b>
        </a>
      </p>
      <!--tick mark-->
      <p class="navbar-text pull-right">
        <a type="submit" (click)="update()" [routerLink]="['/user', userId, 'website', webid, 'page']" class="navbar-link">
          <span class="viv-white-text glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
    <!--</div>-->
  </div>
</nav>
<div class="container-fluid viv-top-buffer">
  <div class="row">
    <div class="col-sm-3 hidden-xs hidden-sm">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let page of pages">
          <a [routerLink]="['/user', userId, 'website', webid, 'page', page['_id'], 'widget']">{{page['name']}}</a>
          <a [routerLink]="['/user', userId, 'website', webid, 'page', page['_id']]" class="pull-right">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
        <div class="form-group">
          <label for="name">Page Name</label>
          <input type="text" id="name" value="{{name}}" name="name" [(ngModel)]="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Page Description</label>
          <textarea class="form-control" id="description" [(ngModel)]="description" name="description"></textarea>
        </div>
      <a class="btn btn-danger btn-block"
         (click)="delete()">Delete</a>
    </div>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-light bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="viv-white-text glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
</form>
