<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../css/styles.css"/>
  <title>Website list</title>
</head>
<body>
<nav class="navbar navbar-light bg-primary navbar-fixed-top">
  <div class="container-fluid">
    <!--heading on the nav bar-->
    <p class="navbar-text pull-left">
      <a class="navbar-link viv-white-text" href="../../views/user/profile.html">
        <span class="glyphicon glyphicon-menu-left"></span>
      </a>
    </p>
    <p class="navbar-text caption">
        <b>Websites</b>
    </p>
    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a href="../../views/website/website-new.html" class="navbar-link viv-white-text">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>


<div class = "container-fluid viv-top-buffer">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../../views/page/page-list.html">Wikipedia</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm col-md-3">
          1/24/2017
        </div>
        <div class="col-xs-3 hidden-xs col-sm-3 col-md-3">
          Vivek
        </div>
        <div class="col-xs-3">
          <a class="pull-right" href="website-edit.html">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../../views/page/page-list.html">Youtube</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm col-md-3">
          1/26/2017
        </div>
        <div class="col-xs-3 hidden-xs col-sm-3 col-md-3">
          Jeff
        </div>
        <div class="col-xs-3">
          <a class="pull-right" href="website-edit.html">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a href="../../views/page/page-list.html">Gizmodo</a>
        </div>
        <div class="col-xs-3 hidden-xs hidden-sm col-md-3">
          1/22/2017
        </div>
        <div class="col-xs-3 hidden-xs col-sm-3 col-md-3">
          Allen
        </div>
        <div class="col-xs-3">
          <a class="pull-right" href="website-edit.html">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- Footer -->
<nav class="navbar navbar-light bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a class="viv-white-text" href="../../views/user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
</body>
</html>
