<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../../css/styles.css"/>
  <title>Page New</title>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-sm-3">
      <!--heading on the nav bar-->
        <p class="navbar-text pull-left">
          <a class="navbar-link" href="page-list.html">
            <span class="viv-white-text glyphicon glyphicon-menu-left"></span>
          </a>
        </p>
        <!--<div class="col-xs-3 hidden-xs col-sm-3 col-md-3">-->
          <p class="navbar-text viv-white-text caption col-sm-3 hidden-xs hidden-sm">
            <b>Pages</b>
          </p>
          <!--plus mark-->
          <p class="col-sm-1 hidden-xs hidden-sm navbar-text pull-right">
            <a href="page-new.html" class="navbar-link">
              <span class="viv-white-text glyphicon glyphicon-plus"></span>
            </a>
          </p>
        <!--</div>-->
      </div>
      <div class="col-sm-9">
        <div>
        <p class="navbar-text viv-white-text caption">
          <b>New Page</b>
        </p>
        <!--tick mark-->
        <p class="navbar-text pull-right">
          <a href="page-list.html" class="navbar-link">
            <span class="viv-white-text glyphicon glyphicon-ok"></span>
          </a>
        </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid viv-top-buffer">
  <div class="row">
    <div class="col-sm-3 hidden-xs hidden-sm">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="../../views/widget/widget-list.html">Wikipedia</a>
          <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-edit"/>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../../views/widget/widget-list.html">Youtube</a>
          <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-edit"/>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../../views/widget/widget-list.html">Gizmodo</a>
          <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-edit"/>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../../views/widget/widget-list.html">Facebook</a>
          <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-edit"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <form>
        <div class="form-group">
          <label>Page Name</label>
          <input type="text" class="form-control">
        </div>
      </form>
      <form>
        <div class="form-group">
          <label>Page Description</label>
          <textarea class="form-control"></textarea>
        </div>
      </form>
      <a class="btn btn-success btn-block"
         href="page-list.html">Cancel</a>
    </div>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-light navbar-fixed-bottom">
  <div class="container-fluid bg-primary">
    <p class="navbar-text pull-right">
      <a class="viv-white-text" href="../../views/user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
</body>
</html>
