<nav class="navbar navbar-fixed-top">
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-sm-6">
        <!--heading on the nav bar-->
        <p class="navbar-text pull-left">
          <a class="navbar-link" [routerLink]="['/user', userId, 'website', webId, 'page']">
            <span class="viv-white-text glyphicon glyphicon-menu-left"></span>
          </a>
        </p>
          <a class="navbar-band viv-white-text thick">
            <b>Choose Widget</b>
          </a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid viv-top-buffer">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              <a (click)="create('HEADING')">Header</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              <a (click)="create('IMAGE')">Image</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              <a (click)="create('YOUTUBE')">Youtube</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Label
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              HTML
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Text Input
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Link
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Button
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Data Table
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Repeater
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-light bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navba r-text pull-right">
      <a class="viv-white-text" [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
