<div class="container-fluid">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Register</h1>
  <form (ngSubmit) = "register()" #f="ngForm">
    <div class="form-group">
      <input placeholder="username"
             name="username"
             type="text"
             class="form-control"
             ngModel
             required
             #username="ngModel"/>
      <span class="help-block" *ngIf="!username.valid && username.touched">
        Please enter username
      </span>
    </div>
    <div class="form-group">
      <input placeholder="password"
             name="password"
             type="password"
             class="form-control"
             ngModel
             required
             #password="ngModel"/>
      <span class ="help-block" *ngIf="!password.valid && password.touched">
        Please enter password
      </span>
    </div>
    <div class="form-group">
      <input placeholder="verify password"
             name="verify_password"
             id="verify_password"
             type="password"
             class="form-control"
             ngModel
             required
             #verify_password="ngModel"/>
      <span class ="help-block" *ngIf="!verify_password.valid && password.touched">
        Please verify the password
      </span>
    </div>
    <button (click)="register(username, password, verify_password)" class="btn btn-primary btn-block"
            type=submit [disabled]="!f.valid">Register</button>

    <button (click)="cancel()" class="btn btn-danger btn-block"
            type=submit>Cancel</button>
  </form>
</div>
