<nav class="navbar navbar-fixed-top">
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-sm-3">
        <!--heading on the nav bar-->
        <p class="navbar-text pull-left">
          <a class="navbar-link" href="widget-list.html">
            <span class="viv-white-text glyphicon glyphicon-menu-left"></span>
          </a>
        </p>
        <!--<div class="col-xs-3 hidden-xs col-sm-3 col-md-3">-->
        <p class="navbar-text viv-white-text caption col-sm-3 hidden-xs hidden-sm">
          <b>Choose Widget</b>
        </p>
        <!--</div>-->
      </div>
      <div class="col-sm-9">
        <p class="navbar-text pull-left">
          <a class="navbar-band viv-white-text thick">
            <b>Widget Edit</b>
          </a>
        </p>
        <!--tick mark-->
        <p class="navbar-text pull-right">
          <a href="widget-list.html" class="navbar-link">
            <span class="viv-white-text glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid viv-top-buffer">
  <div class="row">
    <div class="col-sm-3 hidden-xs hidden-sm">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              <a href="../../views/widget/widget-heading.html">Header</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              <a href="../../views/widget/widget-image.html">Image</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              <a href="../../views/widget/widget-youtube.html">Youtube</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Label
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              HTML
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Text Input
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Link
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Button
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Data Table
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              Repeater
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <form>
        <div class="form-group">
          <label>Widget Name</label>
          <input type="text" class="form-control">
        </div>
      </form>
      <form>
        <div class="form-group">
          <label>Text</label>
          <textarea class="form-control"></textarea>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label>URL</label>
          <input type="url" class="form-control">
        </div>
      </form>
      <form>
        <div class="form-group">
          <label>Width</label>
          <input type="number" class="form-control">
        </div>
      </form>
      <form>
        <div class="form-group">
          <label>Upload</label>
          <input type="file" class="form-control" placeholder="No file chosen">
        </div>
      </form>
      <a class="btn btn-primary btn-block"
         href="widget-image.html">Upload</a>
      <a class="btn btn-danger btn-block"
         href="widget-list.html">Delete</a>
    </div>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-light bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../../views/user/profile.html">
        <span class="viv-white-text glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
